@font-face {
   font-family: 'Bebas Neue';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/milis/OneDrive/Documentos/GitHub/Grupo2-Rivas.github.io/fonts/Bebas Neue/regular.ttf') format('truetype');
}
